<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=92114927-dedd-4456-b1ec-a23c00ec47e5.sqlserver.sequelizer.com;Database=db92114927dedd4456b1eca23c00ec47e5;User ID=wlkganpylkntdequ;Password=Uk54mFogZenmQWFe4JG2QrLFg4fwzWM8xhpNN3cuosw6txpM2AYFKUfBGwWrAZPd;" />
  </connectionStrings>
</configuration>

